// @import "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
// @import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

.s {
    font-family: cursive;
}
 
.T {
    font-family: 'Courier New';
}

.ill{
    font-family: cursive;
}

li.nav-item {
    font-family: cursive;
}