// @import "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
// @import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

.s {
    font-family: cursive;
}
 
.T {
    font-family: 'Courier New';
}

.ill{
    font-family: cursive;
}

li.nav-item {
    font-family: cursive;
    font-size: 1.4em;

}
li.nav-item a {color:black}
.col-md.d-flex.justify-content-center {
    font-size: 5em;
    font-weight: 700;
    line-height: 1em;
}
// .backgrounddiv {
//     height: 400px;
//     width: 250px;
//     position: absolute;
//     z-index: -1 ;
//     background: rgba(226, 154, 19, 0.842);
//     top: -100px;

// }

.imgshadow {
    border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px #d09b7a;
}

body{
    background-color:#fca800;
}

.navcolor li{
    color:white
}

.verticaltext{
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 4rem;
  color: #852c98;

}

.still {
    color:whitesmoke;
    font-size: 400px;
    line-height: 400px;

}


.text{
font-size:  25px;
color:black;
}

* {
    box-sizing: border-box;
}
 .App {
     max-width: 420px;
     margin: 0 auto;
}
 p {
     text-align: center;
     font-weight: 500;
}
 input[type=text],input[type=email], select, textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
 input[type=submit] {
     background-color: #4CAF50;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #45a049;
}
 .container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px;
}
